{
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "@mskelton",
    "@mskelton/eslint-config",
    "plugin:@typescript-eslint/strict",
    "plugin:promise/recommended",
    "plugin:jest/all"
  ],
  "rules": {
    "no-return-await": "warn",
    "prefer-template": "warn",
    "curly": ["warn", "all"],
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "jest/unbound-method": "off",
    "jest/prefer-expect-assertions": "off",
    "jest/prefer-spy-on": "off"
  }
}
