.vscode/**
.github/**
src/**
images/**
coverage/**
node_modules/**

locales/bundle.l10n.jsonc

.eslintignore
.prettierignore
.gitignore
.swcrc

jest.config.js
tsconfig.json
pnpm-lock.yaml

out/**
!out/extension.js
